.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.errorBorder {
  border: red 1px solid;
}

.errorMessage {
  color: red;
}

.isActive {
  background-color: rgb(144, 191, 238);
}

.isDone {
  opacity: 0.5;
}